


html {
min-height:100%;
}

body {
height:100%;
line-height:1;
font-family:'PT Sans Narrow', sans-serif;
}

/*theme globals*/

a {
text-decoration:none;
color:#010005;
}

a:hover {
color:#7F7C8C;
}

img{
	max-width: 100%;
}

.text-field{
	border:1px solid #e6e6e7;
	background: none;
}

.text-field:focus{
	box-shadow: 0 0 3px #ddd inset;
}

.text-field_dark{
	border-color: #000;
}

input.text-field{
	height: 32px;
	padding: 3px;
	vertical-align: middle;]
	font-size: 14px;
}

.button{
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	font-size: 18px;
	background: none;
	border:none;
	cursor: pointer;
	
	text-align: center;
	 padding: 2px 45px 3px;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
}

.button_dark{
	background: #000;
	color: #fff;
}

.button_dark:hover{
	background: #484847;
}

.bordered {
border:1px solid #e6e6e7;
}

.bordered-half {
border-top:1px solid #e6e6e7;
border-bottom:1px solid #e6e6e7;
}

.box-title{
	font-size: 21px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.sidebar-wrap{
    width: 18%;
}

.sidebar-box{
	margin-bottom: 20px;
}

.sidebar-list{
	padding: 20px 5px 20px 30px;
}

.sidebar-list-item:not(:last-child){
	font-size: 18px;
	margin-bottom: 15px;
}

.sidebar-list-item.sidebar-list-item_links{
	font-size: 21px;
}

.sidebar-list_links{
	padding-left: 5px;
}







/*END theme-globals*/

.container {
max-width:960px;
/*min-width:980px;*/
width:100%;
margin:0 auto;
}

.header-line_top {
margin-top:20px;
}


.header-wrap, .header-line {
  margin-bottom:20px;
}


.site-slogan-link {
font-size:14px;
}

.site-phone-link {
font-size:27px;
}

.site-phone {
margin-top:12px;
}

.site-login {
margin-top:14px;
}

.site-login-link,.cart-text,.cart-link {
font-size:18px;
}

.cart-wrap {
float:right;
margin-top:8px;
}

.cart-link {
margin-left:5px;
display:inline-block;
padding:5px;
}

.top-link-item {
padding-left:60px;
position:relative;
font-size:14px;
display:block;
margin-left:1.7%;
}

.header-line_bottom {
padding:20px 0;
}

.top-link-item:before {
content:'';
display:block;
position:absolute;
left:0;
top:0;
bottom:0;
height:35px;
width:60px;
background-image:url(icons.png);
background-repeat:no-repeat;
margin:auto;
}

.top-link-item_1:hover:before {
background-position:0 -41px;
}

.top-link-item_1 {
width:24.700001%;
}

.top-link-item_2 {
padding-left:45px;
width:26%;
}

.top-link-item_2:before {
width:40px;
background-position:-62px 0;
}

.top-link-item_2:hover:before {
width:40px;
background-position:-62px -41px;
}

.top-link-item_3,.top-link-item_4 {
padding-left:36px;
}

.top-link-item_3:before {
width:30px;
background-position:-102px 0;
}

.top-link-item_3:hover:before {
width:30px;
background-position:-102px -41px;
}

.top-link-item_4 {
width:30%;
text-align: justify;
}

.top-link-item_4:before {
width:30px;
background-position:-133px 0;
}

.top-link-item_4:hover:before {
width:30px;
background-position:-133px -41px;
}

/*END header-line_bottom*/

/*site-nav*/

.site-nav-wrap{
	margin-bottom: 20px;
	clear: both;
}

.site-nav {
font-size:14px;
float:right;
width: 79%;
}

.breadcrumbs-item {
margin-right:5px;
vertical-align:middle;
}

.breadcrumbs,.product-view-types {
margin-top:5px;
}

.product-view-type-item {
display:inline-block;
vertical-align:middle;
margin-left:5px;
padding:5px;
}

.product-view-type-item:before {
content:'';
height:8px;
display:block;
background-image:url(icons.png);
background-repeat:repeat-x;

}

.product-view-type_col-two:before {
width:19px;
background-position:-22px -113px;
}

.product-view-type_col-four:before {
width:40px;
background-position:-2px -113px;
}

.product-view-type-item:hover:before,.product-view-type-item.active:before {
background-position:-42px -113px;
}

.pagination {
float:right;
}

.pagination-item{
	display:inline-block;
  width:25px;
  text-align:center;
  height:25px;
  padding:4px;
}

/* END site-nav*/

/*site-content*/

.main-content{
    width: 79%;
}

.main-content{
	margin-top: 20px;
}

.content-box_items__wrap{
	margin-left: -1.2%;
}

.content-box{
	margin-bottom: 70px;
}

.product-box{
	margin-left: 1%;
	margin-bottom: 50px;
	height: 560px;
	padding-bottom: 75px;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width: 49%;

}

.product-box:hover{
	background: #FFFBFB;
}


.product-box:first-child{
	margin-left: 1%;
}


.product-box-item-image{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #ddd;
	margin: 0 0 10px 0;
	overflow: hidden;
		-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	}

/*.fast-box{
	position: absolute;
	z-index: 2;
	left:0;

	right: 0;
	width: 130%;
height: 0;
	background: rgba(140, 139, 139, 0.33);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.fast-box_buy{
	top: auto;
	top: 
}

.fast-box_view{
	 bottom: 0;
    left: -10%;
    margin: auto;
    top: 0;
}

.product-box-item-image:hover .fast-box_buy{

		-webkit-transform: rotate(-45deg) scale(1);
	-moz-transform: rotate(-45deg) scale(1);
	-ms-transform: rotate(-45deg) scale(1);
	-o-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
}

.product-box-item-image:hover .fast-box_view{
  box-shadow: 0 0 0 200px rgba(224, 224, 224, 0.82),  0 0 3px #444 inset;

    	height: 50%;

}*/


.product-box-item-img-link{
	position: absolute;
	top: 0;
	z-index: 1;
	right: 0;
	left: 0;
	bottom: 0;
	margin:auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}	


.product-box-item-short-description{
	height: 30px;
	overflow: hidden;
	width: 80%;
	text-align: center;
	margin: 0  auto 10px;
}

.product-box-item-buy-wrap{
	text-align: center;
}

.product-box.size_3{
	width:23.8% ;height: 360px;
	margin-bottom: 30px;
}

.product-box.size_3 .product-box-item-short-description{
	width: 100%;
}

/*END product-box*/

.subscribe-wrap{
	padding: 20px;
	margin-bottom: 50px;
}

.subscribe-text{
	font-size: 14px;
	line-height: 1.2;
	vertical-align: middle;
	margin-top: -4px;
}


.text-field_subscribe{
	width: 255px;
}

.button_subscribe{
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 5px;
}

/*END subscibe*/

/*about site*/

.about-site-wrap{
	margin-bottom: 50px;
}

.about-site{
	line-height: 1.3;
	font-size: 14px;
}

.bottom-nav{
	margin-bottom: 30px;
	padding: 35px 0;
}

.social-links{
	text-align: right;
}

.social-links-link, .bottom-links-link{
	font-size: 18px;
}

.main-foot{
	margin-bottom: 40px;
}